In [1]:
from vivarium import InteractiveContext

In [2]:
sim = InteractiveContext("../src/village_simulator/simulation/specification.yaml")

In [3]:
sim.get_population()

    tracked  population_size
0      True          1000000
1      True          1000000
2      True          1000000
3      True          1000000
4      True          1000000
..      ...              ...
95     True          1000000
96     True          1000000
97     True          1000000
98     True          1000000
99     True          1000000

[100 rows x 2 columns]

In [4]:
sim.step()
sim.get_population()

    tracked  population_size
0      True          1002252
1      True          1004139
2      True          1005033
3      True          1004328
4      True          1005314
..      ...              ...
95     True          1005174
96     True          1005135
97     True          1002837
98     True          1003601
99     True          1003311

[100 rows x 2 columns]