In [1]:
from vivarium import InteractiveContext

In [2]:
sim = InteractiveContext("../src/village_simulator/simulation/specification.yaml")

In [3]:
sim.get_population()

,tracked,female_population_size,male_population_size,food,wood
0,True,500,499,9.979416e+05,53810.528751
1,True,493,509,1.000092e+06,37335.410391
2,True,495,505,1.005062e+06,37344.352515
3,True,503,497,1.001478e+06,69720.294487
4,True,491,508,9.940692e+05,44220.254875
...,...,...,...,...,...
95,True,499,500,1.011880e+06,37144.337624
96,True,506,494,9.989530e+05,47642.515861
97,True,500,502,1.010230e+06,34291.659601
98,True,498,501,9.990558e+05,38142.740524
99,True,493,505,1.000533e+06,42852.068880

In [4]:
sim.step()
sim.get_population()

,tracked,female_population_size,male_population_size,food,wood
0,True,501,499,978812.884881,64515.064365
1,True,493,509,980878.544128,49053.262503
2,True,495,506,985954.807062,45844.435853
3,True,504,497,982311.124805,88017.336669
4,True,491,508,974885.562440,65150.216638
...,...,...,...,...,...
95,True,500,501,992757.190579,55073.967363
96,True,506,494,979947.087626,62494.482187
97,True,501,502,990846.415415,50074.513358
98,True,499,501,980008.238425,53623.364587
99,True,493,506,981454.133507,67482.740850