In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from vivarium import InteractiveContext

In [ ]:
sim = InteractiveContext("../src/village_simulator/simulation/specification.yaml")

In [ ]:
p_0 = sim.get_population()
p_0

In [ ]:
%%time
data = []
for _ in range(400):
    sim.step()
    temperature = sim.get_population()
    dates = pd.Series(sim._clock.time, name="date", index=temperature.index)
    data.append(pd.concat([dates, temperature], axis=1))

data = pd.concat(data)

In [ ]:
import matplotlib.pyplot as plt

# Sample data
x = data["date"]
y = data["temperature"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Temperature')
plt.title('Temperature over time')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
# Sample data
x = data["date"]
y = data["rainfall"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('Rainfall over time')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
# Sample data
x = data["date"]
y = data["wheat_projected_yield"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('Projected wheat over time')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
data["rainfall"].mean()

In [ ]:
# Sample data
x = data["date"]
y = data["wheat_stores"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('Wheat over time')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
# Sample data
x = data["date"]
y = data["cumulative_dry_days"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('cumulative_dry_days')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
# Sample data
x = data["date"]
y = data["rainfall_mid_growth"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('rainfall_mid_growth')

# Show the plot
plt.grid(True)
plt.show()

In [ ]:
# Sample data
x = data["date"]
y = data["rainfall_late_growth"]

# Create a scatterplot
plt.scatter(x, y, label='Data Points', color='blue', marker='o')

# Add labels and a title
plt.xlabel('Date')
plt.ylabel('Rainfall')
plt.title('rainfall_late_growth')

# Show the plot
plt.grid(True)
plt.show()

In [2]:
df = pd.DataFrame({"a": [4, 2, 3], 'b': [6, 2, 3]})
df

   a  b
0  4  6
1  2  2
2  3  3