In [ ]:
from vivarium import InteractiveContext

In [ ]:
sim = InteractiveContext("../src/village_simulator/simulation/specification.yaml")

In [ ]:
sim.get_population()

In [ ]:
sim.step()
sim.get_population()

In [1]:
import pandas as pd

pd.DataFrame({"a": 3, "b": 4}, index=pd.Index(range(5)))

   a  b
0  3  4
1  3  4
2  3  4
3  3  4
4  3  4