In [1]:
from vivarium import InteractiveContext

In [2]:
sim = InteractiveContext("../src/village_simulator/simulation/specification.yaml")

In [3]:
sim.get_population()

,tracked,male_population_size,female_population_size,food,wood,stone,bronze
0,True,499,500,9995.306564,8181.716398,7148.528006,2825.057394
1,True,509,493,11358.021197,6403.520997,4581.886885,3861.374301
2,True,505,495,9339.499275,7058.865439,5036.168158,3035.586337
3,True,497,503,10606.989601,10894.501877,6297.743960,3227.907953
4,True,508,491,9909.525971,8780.415776,5628.435494,2582.362461
...,...,...,...,...,...,...,...
95,True,500,499,9818.353437,7294.518234,5926.918911,2723.390641
96,True,494,506,10459.939122,9073.347711,4109.454751,2880.272637
97,True,502,500,10264.931903,7019.369777,3280.193060,2322.686174
98,True,501,498,10169.599375,3595.966758,5830.946074,3192.766231
99,True,505,493,10298.465066,9091.015495,4315.251689,3046.373884

In [4]:
sim.step()
sim.get_population()

,tracked,male_population_size,female_population_size,food,wood,stone,bronze
0,True,499,501,9815.471303,8173.365736,7150.944702,2821.749656
1,True,509,493,11177.637549,6510.054011,4583.584870,3867.192626
2,True,506,495,9158.985734,6970.820425,5037.950813,3033.493156
3,True,497,504,10406.690667,10893.473695,6300.766616,3223.574316
4,True,508,491,9721.860002,8864.990618,5626.641963,2576.729200
...,...,...,...,...,...,...,...
95,True,501,500,9639.902374,7175.489087,5927.747328,2728.739529
96,True,494,506,10266.298926,9144.728900,4114.495856,2884.408194
97,True,502,501,10063.299577,7059.893534,3273.008216,2317.643913
98,True,501,499,9962.666399,3509.858492,5828.247629,3200.143429
99,True,506,493,10119.021841,8964.093592,4329.066187,3042.541708